* {
    font-family: monospace;
    font-size: 14pt;
    color: white;
}

.subcontent {
    padding-top: 15px;
    padding-left: 5px;
    display: block;
}

.subtitle {
    font-size: 14pt;
    display: inline-block;
}

.active {
    background-color: #FF4D12 ;
}

.active:hover {
    background-color: #FF6633 ;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  body {
    background-color: #222;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #444;
    cursor: pointer;
  }

  .button {
    background-color: #FF4D12; /* Green */
    border: none;
    border-radius: 7px;;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
  }

  .button:hover {
    background-color: #FF6633;
    cursor: pointer;
  }

